{% extends 'users/base.html '%}
{% load crispy_forms_tags %}
{%block title %}Edit Your Account{% endblock %}


{% load static %}

{% block content %}
    <h1>Edit Your Profile</h1>

<div class="container">
  <div class="card  mx-auto">
    <div class="card-body ">
      <h5 class="text-center">You can edit your Event</h5>


      <form class="" action="{% url 'habit_edit' habit.pk %}" method="post" >
        {% csrf_token %}
      {{ form | crispy  }}



        <button  class="btn  btn-login" type="submit" >
            Update
        </button>

        <hr class="line">


      </div>

      </form>
  </div>

  </div>




{% endblock %}